# readability-make-member-function-const is great, but it also suggests that
#    in cases where we return a non-const pointer.
#    So good for a regular cleanup-sweep but not as default.
# Some of the rules below that are disabled should be re-considered once we
# have a somewhat clean baseline (runtime-int, readability-casting,
# narrowing conversion come to mind)
# In particular the disabled clang-analyzer-* messages should all be
# enabled as they uncover real bugs, but once we have the other noise reduced.
# performance-inefficient-string-concatenation is good, but until we use
# absl in this project with absl::StrCat(), the alternatives are not improving
# readability.
Checks: >
  bugprone-*,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  clang-diagnostic-*,
  clang-analyzer-*,
  -clang-analyzer-core.CallAndMessage,
  -clang-analyzer-cplusplus.NewDeleteLeaks,
  google-*,
  -google-build-using-namespace,
  -google-readability-avoid-underscore-in-googletest-name,
  -google-readability-braces-around-statements,
  -google-readability-casting,
  -google-readability-todo,
  -google-runtime-int,
  misc-*,
  -misc-const-correctness,
  -misc-no-recursion,
  -misc-redundant-expression,
  -misc-unused-parameters,
  -misc-use-anonymous-namespace,
  modernize-*,
  -modernize-type-traits,
  -modernize-use-auto,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  performance-*,
  -performance-avoid-endl,
  -performance-enum-size,
  readability-*,
  -readability-braces-around-statements,
  -readability-convert-member-functions-to-static,
  -readability-else-after-return,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-inconsistent-declaration-parameter-name,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-make-member-function-const,
  -readability-named-parameter,
  -readability-qualified-auto,
  -readability-redundant-access-specifiers,
  -readability-simplify-boolean-expr,
  -readability-uppercase-literal-suffix

WarningsAsErrors: ''
HeaderFilterRegex: ''
CheckOptions:
  - key: performance-unnecessary-value-param.AllowedTypes
    value: 'NodeId;SymbolId;PathId'
  - key: performance-unnecessary-copy-initialization.AllowedTypes
    value: 'NodeId;SymbolId;PathId'
  - key: performance-for-range-copy.AllowedTypes
    value: 'NodeId;SymbolId;PathId'
  - key: performance-unnecessary-value-param.AllowedTypes
    value: ::SURELOG::SymbolId;SURELOG::SymbolId;SymbolId;::SURELOG::NodeId;SURELOG::NodeId;NodeId;::SURELOG::PathId;SURELOG::PathId;PathId
  - key: performance-for-range-copy.AllowedTypes
    value: ::SURELOG::SymbolId;SURELOG::SymbolId;SymbolId;::SURELOG::NodeId;SURELOG::NodeId;NodeId;::SURELOG::PathId;SURELOG::PathId;PathId
  - key: performance-unnecessary-copy-initialization.AllowedTypes
    value: ::SURELOG::SymbolId;SURELOG::SymbolId;SymbolId;::SURELOG::NodeId;SURELOG::NodeId;NodeId;::SURELOG::PathId;SURELOG::PathId;PathId
