third_party/tests/YosysOpenSparc/YosysOpenSparc.log filter=lfs diff=lfs merge=lfs -text
third_party/tests/xgate/Xgate.log filter=lfs diff=lfs merge=lfs -text
third_party/tests/Earlgrey_Verilator_01_05_21/sim-icarus/Earlgrey_Verilator_01_05_21.log filter=lfs diff=lfs merge=lfs -text
third_party/tests/YosysBoom/YosysSmallBoom.log filter=lfs diff=lfs merge=lfs -text
third_party/tests/Earlgrey_0_1/sim-icarus/Earlgrey_0_1.log filter=lfs diff=lfs merge=lfs -text
third_party/tests/IncompTitan/IncompTitan.log filter=lfs diff=lfs merge=lfs -text
third_party/tests/Opentitan/Earlgrey.log filter=lfs diff=lfs merge=lfs -text
third_party/tests/Earlgrey_Verilator_0_1/sim-verilator/Earlgrey_Verilator_0_1.log filter=lfs diff=lfs merge=lfs -text
third_party/tests/Opentitan/Opentitan.log filter=lfs diff=lfs merge=lfs -text
