*~
*.v.log
*.sv.log
slpp_all/

# Development environment cache folders
/.vs
/.vscode/extensions
/.vscode/argv.json
/.vscode/c_cpp_properties.json
/.vscode/settings.json
/.vscode/tasks.json
# We still want to checkin the launch.json



# Output folders on different platforms
/CMakeBuilds
/out
/build
/dbuild
/publish

